/* Header background styles only */
.headerimg {
    display: inline-block;
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
  .headerimg {
    width: 100%; 
  }
}

/* header button */
.button_menu {
	background-color: #ffd575;
	border: none;
	color: block;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	margin: 4px 2px;
	cursor: pointer;
}

.button-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* hot video */
.block_title {
  color: orange;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

img {
	display: flex;
    flex-direction: row;
    width: 70%;
	height: 70%;
	
}
.hot{
	background: #E8E5E7;
}
